*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

body{
    background-color: #E7E7E7;
}   

.app{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}